"*":
  "exception-reporting":
    userId: "f298d568-656d-9d8c-160f-bfcaaadd0db9"
  welcome:
    showOnStartup: false
  minimap:
    absoluteMode: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  core:
    autoHideMenuBar: true
    themes: [
      "seti-ui"
      "atom-monokai"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    fontSize: 11
  "one-dark-ui": {}
  "dark-flat-ui": {}
